@model System.Text.StringBuilder

@{
    ViewBag.Title = "subirArchivo";
}

<html>
    <head>
         <h2>Buscar</h2>

        </head>
    <body>

        <div>
         <p>@Html.Raw(Model.ToString())</p>  @*imprime la variable a que lo mandas en busquedacontroller con el return view(a)*@
        </div>
    </body>



</html>