@using VTeIC.Requerimientos.Entidades

@{
    ViewBag.Title = "VTeIC";
}

@Styles.Render("~/Content/jquery.steps")

@section scripts {
    @Scripts.Render("~/Scripts/jquery.steps.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/app/wizard.js")
}

<h2 class="srr">Sistema de Recopilación de Requerimientos</h2>

<div id="bodyContainer" ng-app="WizardApp">
    <section id="content">
        <form>
            <div id="wizard" class="container">
            </div>
        </form>
    </section>
</div>