<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="angularjs" version="1.4.7" targetFramework="net45" />
  <package Id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package Id="bootstrap" version="3.3.5" targetFramework="net45" />
  <package Id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package Id="EntityFramework.es" version="6.1.3" targetFramework="net45" />
  <package Id="jQuery" version="2.1.4" targetFramework="net45" />
  <package Id="jQuery.Steps" version="1.1.0" targetFramework="net45" />
  <package Id="jQuery.ValIdation" version="1.11.1" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Identity.Core" version="1.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Identity.Core.es" version="1.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Identity.EntityFramework" version="1.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Identity.EntityFramework.es" version="1.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Identity.Owin" version="1.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Identity.Owin.es" version="1.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Mvc.es" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Razor.es" version="3.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Web.Optimization" version="1.1.1" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Web.Optimization.es" version="1.1.1" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebApi" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebApi.Client.es" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebApi.Core.es" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebApi.WebHost" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebApi.WebHost.es" version="5.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebPages.es" version="3.0.0" targetFramework="net45" />
  <package Id="Microsoft.jQuery.Unobtrusive.ValIdation" version="3.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.es" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Host.SystemWeb" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Host.SystemWeb.es" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.Cookies" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.es" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.Facebook" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.Facebook.es" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.Google" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.Google.es" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.MicrosoftAccount" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.MicrosoftAccount.es" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.OAuth" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.Twitter" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Owin.Security.Twitter.es" version="2.0.0" targetFramework="net45" />
  <package Id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package Id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package Id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package Id="Owin" version="1.0" targetFramework="net45" />
  <package Id="Respond" version="1.4.2" targetFramework="net45" />
  <package Id="WebGrease" version="1.5.2" targetFramework="net45" />
</packages>