@model VTeIC.Requerimientos.Entidades.Question

@{
    ViewBag.Title = "VTeIC";
}

<input type="text" id="QuestionId" style="display: none" value="@Model.Id" />

<script type="text/javascript">
    function enviarRespuesta(tipoPregunta) {
        var booleanAnswer = null;
        var optionsAnswer = [];
        var respuesta = "";

        if (tipoPregunta == 1) {

            respuesta = $("#respuesta1").val();

        } else if (tipoPregunta == 2) {

            booleanAnswer = true;

        } else if (tipoPregunta == 4) {

            booleanAnswer = false;

        } else {
            while (option = document.getElementById("election")) {
                if (option.checked) {
                    optionsAnswer.push( option.value );
                }
                option.remove();
            }
            
            while (x = document.getElementById('Creada artificialmente')) {
                x.remove();
            }
        }

        var preguntaActual = $("#QuestionId").val();

        $.ajax({
            url: '/Home/Check',
            data: JSON.stringify({TextAnswer: respuesta, QuestionId: preguntaActual, BooleanAnswer: booleanAnswer, OptionsAnswer: optionsAnswer}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            type: 'POST',
            success:
                function (valor) {
                    // Si es la útlima pregunta, finished va a ser true
                    if (valor['finished']) {
                        progreso();
                        return;
                    }
                        
                    $("#tipo1").hide(); $("#tipo2").hide(); $("#tipo3").hide(); $("#respuesta1").val('');

                    var x = document.getElementById('valorPregunta');
                    x.innerHTML = valor['textoPregunta'];

                    $("#QuestionId").val(valor['idPregunta']);
                    switch (valor['tipoPregunta']) {
                        case 1:
                            $("#tipo1").show();
                            focusTextBox();
                            break;
                        case 2:
                            $("#tipo2").show();
                            $("#valorSi").focus();
                            break;
                        case 3:
                            $("#tipo3").show();
                            var opciones = valor['opcionesPregunta'];
                            var table = document.getElementById("tablaCheck");
                            for (var i = 0; i < opciones.length; i++) {
                                var row = table.insertRow(0);
                                row.id = "Creada artificialmente";
                                var cell1 = row.insertCell(0);
                                var cell2 = row.insertCell(1);

                                var checkbox = document.createElement('input');
                                checkbox.type = "checkbox";
                                checkbox.value = opciones[i]['Id'];
                                checkbox.id = "election";

                                var label = document.createElement('label');
                                label.htmlFor = "Id" + i;

                                label.appendChild(document.createTextNode(opciones[i]['Text']));

                                cell1.appendChild(checkbox);
                                cell2.appendChild(label);
                            }
                            $("#election").focus();
                            
                            break;
                    }
                },

            beforeSend: function () {  },
            error: function (xhr, errmsg, err) {
                alert(xhr.status + ": " + xhr.responseText);
            }
        });
    }

    function searchKeyPress(e) {
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode === 13) {
            enviarRespuesta(1);
        }
    }

    function progreso() {
        $('#cuadroPregunta').hide();
        $('#barraProgreso').show();
    }

    function verClave() {
        $.ajax({
            url: '/Home/VerClaveProvisoria',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            type: 'POST',
            success:
                function (valor) {
                    var x = document.getElementById("claveTabla");

                    for (var i = 0; i < valor['respuesta'].length; i++) {
                        var row = x.insertRow(0);
                        row.id = "Creada artificialmente";

                        var cell1 = row.insertCell(0);

                        var label = document.createElement('label');
                        label.htmlFor = "Id" + i;
                        label.appendChild(document.createTextNode(valor['respuesta'][i]));

                        cell1.appendChild(label);
                    }
                },

            beforeSend: function () { },
            error: function (xhr, errmsg, err) {
                alert(xhr.status + ": " + xhr.responseText);
            }
        });
    }

    function focusTextBox() 
    {
        $("#respuesta1").focus();
    }
</script>

<body onload="focusTextBox()">
    <div class="container-full">
        <div class="row">

            <div class="col-lg-12 text-center v-center">

                <h1>Preguntas VTeIC</h1>
                <div id="cuadroPregunta" style="padding-left:0%; padding-top:4%">
                    <div class="col-md-4" style="width:100%">
                        <div class="panel panel-default">
                            <div class="panel-heading"><p id="valorPregunta" class="lead">Introducir Tema</p></div>
                            <div class="panel-body">

                                <div id="tipo1">
                                    <div class="input-group" style="width:540px; text-align:center; margin:0 auto;">
                                        <input onkeypress="searchKeyPress(event);" id="respuesta1" class="form-control input-lg" type="text">
                                        <span class="input-group-btn"><button onclick="enviarRespuesta(1)" class="btn btn-lg btn-primary" id="botonOK" type="button">OK</button></span>
                                    </div>
                                </div>
                                <div id="tipo3" style="display: none">
                                    <center style="padding-left: 8%">
                                        <table id="tablaCheck" cellpadding="10" cellspacing="0" style="width: 30%" border="0">
                                        </table>
                                        <br />
                                    </center>
                                    <button type="button" onclick="enviarRespuesta(3)" class="btn btn-default" style="width:auto"> Ok </button>
                                </div>

                                <div id="tipo2" style="display:none">
                                    <center>
                                        <div id="PreguntaSiNo" class="btn-group-vertical" role="group" aria-label="...">
                                            <button id="valorSi" type="button" onclick="enviarRespuesta(2)" class="btn btn-default" style="width:500px" value="SI">SI</button>
                                            <button id="valorNo" type="button" onclick="enviarRespuesta(4)" class="btn btn-default" style="width:500px" value="NO">NO</button>
                                        </div>
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="barraProgreso" style="display:none">
                <input type="button" onclick="verClave()" name="name" value="Ver Clave de Búsqueda " /><br /><br />
                <table id="claveTabla" cellpadding="10" cellspacing="0" border="0"></table>
                <div id="progressbar"></div>
            </div>
        </div>
    </div>
</body>

