@using VTeIC.Requerimientos.Web.ViewModels;
@model ProjectVTeICViewModel

@{
    ViewBag.Title = "VTeIC";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Proyectos", "Index", "Project")</li>
    <li class="active">@Model.Project.Nombre</li>
</ol>

@Html.Partial("VTeIC", Model)