@using VTeIC.Requerimientos.Entidades
@model DisplayFile

@{
    ViewBag.Title = "Archivos";
}

<div class="page-header">
    <h2>Archivos del proyecto</h2>
</div>

<ul>
    @foreach (DownloadableFile file in Model.FileList)
    {
        <li><a target="_blank" href="@file.Path">@file.FileName</a></li>
    }
</ul>
